@import '../../styles/index.scss';

.deck-styled {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  min-width: max-content;
  width: 100%;

  padding: 1rem;

  overflow-x: scroll;
}